<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>se.tii.steps</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon@2x.png</string>
		<string>Icon.png</string>
		<string>Icon-60@2x.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small-40@2x.png</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>BackgroundImage</key>
			<string></string>
		</dict>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>6000 Steg</string>
	<key>NSMotionUsageDescription</key>
	<string>Use Motion</string>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Media1.xcassets/AppIcons.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Media1.xcassets/LaunchImages.launchimage</string>
</dict>
</plist>
